<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Rent A Book</mat-card-title>
    <mat-card-subtitle>Sistema de Empréstimos de Livros</mat-card-subtitle>
    <mat-card-content>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed magna justo. Sed
        commodo sed
        dolor eu aliquam. Nullam nec nunc imperdiet, pulvinar elit vel, mollis nisi. Donec
        finibus
        massa
        dui, vitae dictum augue fringilla eget.
      </p>
      <hr class="my-2">
      <p>
        Vivamus tempor odio eget ex ullamcorper, a malesuada turpis dignissim. Sed lorem purus,
        dictum
        nec
        sapien id, finibus gravida ex. Nulla vel elementum ex. Integer nec mauris id sapien
        ornare
        scelerisque ut nec ante. Etiam sollicitudin quis eros quis congue. Suspendisse ultricies
        auctor
        pretium. Integer tempus eleifend tellus, ultrices vehicula eros ullamcorper sit amet.
        Sed
        neque
        mauris, interdum vitae leo nec, finibus tempus sapien.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/']">Mais...</button>
    </mat-card-actions>
  </mat-card>
</div>
