<form class="needs-validation row g-3" novalidate [formGroup]="form">
    <div class="col-md-4">
        <label class="form-label">Nome </label>
        <input type="text" class="form-control" placeholder=" Exemplo" required formControlName="nome">
        
        <div class="valid-feedback" *ngIf="f.nome.touched && f.nome.invalid" class="alert alert-danger">
            <div *ngIf="f.nome.errors?.required">Informe um Nome!</div>
            <div *ngIf="f.nome.errors?.minlength">Nome precisa ter no mínimo 3 caracteres.</div>
            <div *ngIf="f.nome.errors?.maxlength">Nome precisa ter no máximo 50 caracteres.</div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Email </label>
        <input type="text" class="form-control" placeholder=" exemplo@hotmail.com" required formControlName="email">

        <div class="valid-feedback" *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
            <div *ngIf="f.email.errors?.required">Informe um email!</div>
            <div *ngIf="f.email.errors?.pattern">Email Invalido!</div>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">ISNI </label>
        <input type="text" class="form-control" placeholder="0000000000000000" required formControlName="isni">

        <div class="valid-feedback" *ngIf="f.isni.touched && f.isni.invalid" class="alert alert-danger">
            <div *ngIf="f.email.errors?.required">Informe um ISNI com 16!</div>
            <div *ngIf="f.email.errors?.pattern">ISNI Invalido!</div>
        </div>
    </div>
    
    <div class="col-md-4">
        <label class="form-label">Data De Nascimento </label>
        <input type="text" class="form-control" placeholder="MM/DD/YYYY" required formControlName="dataDeNascimento" mask="00/00/0000">

        <div class="valid-feedback" *ngIf="f.dataDeNascimento.touched && f.dataDeNascimento.invalid" class="alert alert-danger">
            <div *ngIf="f.contato.errors?.required">Informe uma nascimento Válido!</div>
            <div *ngIf="f.contato.errors?.pattern">Informe um nascimento anterior</div>
        </div>
    </div>

    <div class="col-md-4">
        <label class="form-label">Contato </label>
        <input type="text" class="form-control" placeholder="(00)000-000-000" required formControlName="contato" mask="(00) 000-000-000">
        <div class="valid-feedback" *ngIf="f.contato.touched && f.contato.invalid" class="alert alert-danger">
            <div *ngIf="f.contato.errors?.required">Informe um telefone Válido!</div>
            <div *ngIf="f.contato.errors?.pattern">Informe um telefone com 11 digitos!</div>
        </div>
    </div>

    <form class="was-validated">
        <div class="mb-3">
          <label for="validationTextarea" class="form-label">Biografia</label>
          <textarea class="form-control is-invalid" placeholder="Escreva" required formControlName="biografia"></textarea>
          <div class="valid-feedback" *ngIf="f.biografia.touched && f.biografia.invalid" class="alert alert-danger">
            <div *ngIf="f.nome.errors?.required">Informe uma Biografia!</div>
            <div *ngIf="f.nome.errors?.maxlength">Nome precisa ter no máximo 250 caracteres.</div>
        </div>
    </div>
    <div id="btn" class="col-12">
        <button class="btn btn-primary" type="button" (click)="onSubimit()">Salvar</button>
        <button class="btn btn-default" type="button" (click)="onCancel()">Cancelar</button>
    </div>
</form>